/*@import url('https://fonts.googleapis.com/css?family=Coustard');*/
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.App {
  text-align: center;
}

.App-introteksti {
  font-size: x-large;
  text-align: center;
  margin-top: -12%;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 3%;
  position: fixed;
  width: 100%;
    z-index: 1;
}

.modal-container {
  margin-top: 5%;
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  margin-top: 5%;
  position: absolute;
}

.navbar-inverse .navbar-nav {
  position: fixed;
}

.ikonirivi {
  margin-top: 1vw;
  list-style-type: none;

}

.ikoni {
  padding-right: 4vw;
  padding-bottom: 1vw;

}
.ikonikuva {
  width: 3vw;
}
.font {
  font-family: 'Gloria Hallelujah', cursive;
}

.navbutton {
    font-family: 'Gloria Hallelujah', cursive;
}

.pelkkakuva {
  margin: 3% auto 0 10%;
  padding-bottom: 25%;
  border-radius: 5px;
  width: 100%
}

.kuvapaneeli {
  padding-bottom: 22%;
}

.img-responsive {
  border-radius: 10px;
}

.etusivunpohja {
  background-color: white;
  margin-top: -1%;

}

#levelkuva {
  width: 60%;
  margin: auto;
  display: block;
}

.paneelivasen {
  background: rgba(102, 122, 199, 0.13);
  padding: 2%;
  margin: 3% 0 2% 5% ;
  font-family: 'Gloria Hallelujah', cursive;
}

.nimipaneeli {
    background: rgba(255, 255, 255, 0.8);
    padding: 2%;
    border-radius: 5px;
    margin: 2% auto 3% auto;
    font-family: 'Gloria Hallelujah', cursive;
}

.paneelioikea {
  padding: 2%;
  background: rgba(102, 122, 199, 0.13);
  margin: 1.5% 2% 2% 0 ;
}

.sivunpohja {
  background-image: url("../Resources/legs.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 5vw;
}

.graafi {
  display: flex;
  justifyContent: center;
  border-radius: 5px;
  margin: 0 auto 3% auto;
  background: rgba(255, 255, 255, 0.8);
}


.loadingpage {
  background-image: url("../Resources/legs.jpg");
  background-size: cover;
  padding-bottom: 50%;
}
.yhteenveto {
  text-align: center;
  margin-top: 1vw;
  margin-bottom: 2vw;
}

#loading {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

@media screen and (max-width: 1300px) and (min-width: 787px) {
    .App-introteksti {
        margin-top: -11%;
        position: fixed;
        width: 100%;
        padding: 7vw;
    }
    .etusivunpohja {
        margin-top: 10%;
    }

}

@media screen and (max-width: 787px) and (min-width: 572px) {
    .App-introteksti {
        margin-top: -8%;
        position: fixed;
        width: 100%;
        padding: 8vw;
    }
    .etusivunpohja {
        margin-top: 27%;
    }

    .btn-responsive {

    }

}

@media screen and (max-width: 573px) and (min-width: 456px) {
    .App-introteksti {
        margin-top: -5%;
        position: fixed;
        width: 100%;
        padding: 10vw;
    }
    .etusivunpohja {
        margin-top: 50vw;
    }
}

@media screen and (max-width: 455px) and (min-width: 0px) {
    .App-introteksti {
        margin-top: -5%;
        position: fixed;
        width: 100%;
        padding: 5vw;
    }
    .etusivunpohja {
        margin-top: 50vw;
    }
}

