@import url('https://fonts.googleapis.com/css?family=Coustard');

.App {
  text-align: center;
}

.App-introteksti {
  font-size: large;
  text-align: center;
}

.modal-container {
  margin-top: 5%;
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  margin-top: 5%;
  position: absolute;
}

.navbar-inverse .navbar-nav {
  hover: none;
  background-color: grey;
}

.font {
  font-family: 'Coustard', serif;
}

.kuva {
  margin-left: 15%;
  margin-top: 5%;
  border-radius: 5px;
}

.paneelivasen {
  margin-left: 5%;
  background: rgba(102, 122, 199, 0.13);
  padding-bottom: 8%;
}

.paneelioikea {
  margin-right: 3%;
  padding: 2%;
  padding-bottom: 6%;
  background: rgba(102, 122, 199, 0.13);
}

.sivunpohja {
  background-image: url("../Resources/juoksurata.jpeg");
  background-size: cover;

}

.graafi {
  display: flex;
  justifyContent: center;
  border-radius: 5px;
  margin: 0 auto 3% auto;
  background: rgba(255, 255, 255, 0.8);
}
